*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins", sans-serif ;
    /* background-color: #f8f8fa; */
    overflow-x: hidden;
}
.container{
    padding-left: 6rem;
    padding-right: 6rem;
}
@media(max-width: 991px){
    .container{
        padding-left: 4rem;
        padding-right: 4rem;
    }
}
@media(max-width: 768px){
    .container{
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
@media(max-width:480px){
    .container{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.main-title{
    margin-bottom: 4rem;
}
.main-title p{
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: .5rem;
}
.main-title .h-and-p{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.main-title .h-and-p p{
    max-width: 500px;
}
.main-title .h-and-p h2{
    font-size: 2rem;
    margin-bottom: 1rem;
}
@media(max-width: 991px){
    .main-title .h-and-p{
        display: block;
    }
    .main-title .h-and-p p{
        max-width:100%;
    }
}



.blur-box{
    background-color: rgb(255, 255, 255, .2);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    backdrop-filter: blur(5px);
    border-radius: 1rem;
}
.radius-box{
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.sec-margin-4{
    margin-bottom: 4rem;
}
.sec-margin-6{
    margin-bottom: 6rem;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    border: none;
    outline: none;
}
a:hover{
    color: rgba(255, 255, 255, 0.7);
}
.login:hover, .view-more:hover, input[type=submit]:hover{
    opacity: .8;
    /* scale: 1.03; */
} 
input{
    border: none;
    outline: none;
}


/* ------------------------------------start home---------------------------------- */
.home{
    height: 100vh;
    background-image: url(media/bg/pexels-wendelinjacober-1460230.jpg); /*therato, wendelinjacober, roman */
    background-position:center;
    background-size:cover;
    color: white;
    padding-top: 1.5rem;
    border-bottom-left-radius: 1rem;  
    border-bottom-right-radius: 1rem;


    animation: home-fade-out 5s;
    animation-timeline: view();
    animation-range: exit; 
}
@keyframes home-fade-out{
    to{opacity: 1; scale: .7;}
}
/* @keyframes home-fade-out{
   25%{opacity: 0;}
   85%, 100%{opacity: 1; scale: 3;}
} */


nav{
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    border-radius: 2rem !important;

    animation: landing-fade-out;
    animation-timeline: view();
    animation-range: exit; 
}
nav .logo h1 {
    text-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

nav .menue{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease-out
}


nav .menue ul{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    gap: 2rem;
}
nav .menue .login{
    background-color: black;
    padding: .4rem .7rem;
    border-radius: 1.5rem;
}


nav .sidebar{
    cursor: pointer;
    display: none;
}


@media(max-width:991px){
    nav .sidebar{
        display: block;
        /* margin-right: calc(50vw - 7rem); */
    }
    nav .menue{
        display: none;
    }
    nav .menue{
        flex-direction: column;
        text-align: center;
        /* justify-content: center; */
        background-color: rgb(255, 255, 255, .2);
        backdrop-filter: blur(5px);
        border-radius: 2rem;
        width: 85vw;
        /* height: calc(100vh - 6rem); */
        height: 60vh;
        margin-top: .5rem;
        padding: 2rem 0;

        position: absolute;
        top: calc(55px);
        right: calc(-3rem);
        right: 0;
        z-index: 33;
    }
    nav .menue ul{
        position: static;
        transform: translate(0);
        flex-direction: column;
        margin-bottom: 2rem;
    }
}


.landing{
    /* height: calc(100% - 55px); */
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    animation: landing-fade-out;
    animation-timeline: view();
    animation-range: exit -200px;   /* pxقبل الخروج من العنصر ب 200*/
    animation-range: exit;   /* pxقبل الخروج من العنصر ب 200*/
}
@keyframes landing-fade-out{
    to{opacity: 0; scale: .5;}
}
.landing p{
    max-width: 500px;
    margin: .5rem 0 2rem;
}
.landing h1{
    font-size: 3rem;
}
.landing input{
    padding: .8rem 1rem;
    padding: 1rem 1.2rem;
    border-radius: 2rem;
    width: 550px;
    width: 60%;
    transition: .5s;
}
input::placeholder {
    color: white;
}
input:focus{
    scale: 1.01;
}
/* ----------------------------------------------end home----------------------------- */
/* ---------------------------------------start destination--------------------------- */
.destination-main{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,300px);
    gap: 1rem;
}
@media(max-width: 768px){
    .destination-main{
        display: block;
    }
}
.destination-main .card{
    position: relative;
    transition: .3s;

    animation: fade-in 5s;
    animation-timeline: view();
    animation-range: entry;
}
@keyframes fade-in{
    from{scale: 0; opacity: 0;}
    to{scale: 1; opacity: 1;}
}
.destination-main .card:hover{
    cursor: pointer;
    scale: 1.01;
}
.destination-main .card:nth-child(1),
.destination-main .card:nth-child(4){
    grid-column: span 2;
}
.destination-main img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}
.destination-main .card .title{
    position: absolute;
    bottom: 20px;
    left: 30px;
    color: white;
}
.destination-main .card .title p{
    font-weight: lighter;
}

/* end destination */
/* start packages */
.packages{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 450px;
    gap: 1.5rem;
}
@media(max-width:992px){
    .packages{
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width: 768px){
    .packages{
        grid-template-columns: 1fr;
    }
}

.packages .package-card{
    position: relative;
    transition: .2s;

    animation: fade-in  5s;
    animation-timeline: view();
    animation-range: entry;
}
@keyframes translate-right {
    /* from{opacity: 0; transform: translateX(-100px);}
    to{opacity: 1; transform: translateX(0px);} */

    from{clip-path: inset(100% 100% 0 0); opacity: 0;}
    to{clip-path: inset(0 0 0 0 ); opacity: 1;}
}
.packages .package-card:hover{
    cursor: pointer;
    scale: 1.01;
}
.packages .package-card img{
    width: 100%;
    height: 100%;
}

.packages .package-card .rate,
.packages .package-card .duration{
    position: absolute;
    top: 0;
    color: white;
    padding: .2rem .5rem;
    margin: .8rem;
}
.packages .package-card .rate{
    right: 0;
}
.packages .package-card .duration{
    left: 0;
}

.packages .package-card .rate i{
    color: gold;
}
.packages .package-card .title{
    width: calc(100% - (2 * .5rem));
    position: absolute;
    bottom: 0;
    padding: 1rem;
    margin:.5rem;
    color: white;
}
.packages .title > p{
    font-weight: lighter;
}
.packages .title .description{
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.packages-sec .view-more {
    text-align: center;
}
.packages-sec .view-more a{
    background-color: black;
    padding: .5rem 1rem;
    border-radius: 2rem;  
}
/* --------------------------------------------end packages------------------------------ */
/* -------------------------------------------start stories------------------------------ */
.stories{
    overflow-x: hidden;
    border-radius: 1rem;
    background-color: #eee;

    padding: 3rem;
    transform: translateX();
}
.stories .stories-main{
     overflow-x: hidden;
}
.stories .stories-main .stories-slider{
    /* overflow-x: hidden; */
    display: flex;
    gap: 5rem;
    transition: transform .5s ease;
}
.stories .stories-main .stories-slider .story-card{
    /* width: 350px; */
    flex-shrink: 0;
    width: 300px;
    text-align: center;
    padding:.5rem 2rem;
    background-color: white;
}
@media(max-width: 768px){
    .stories .stories-main .stories-slider .story-card{
        width: fit-content;
        width: 100%;
    }
}
.stories .stories-main .stories-slider .story-card:hover{
    cursor: pointer;
    scale: 1.02;
}
.stories .story-card .person-img{
    display: inline-block;
    width: 40px;
    height: 40px;
}
.stories .story-card img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.stories .story-card .name{
    color: rgba(0, 0, 0, 0.6);
}
.stories .story-card i{
    font-size: 2.5rem;
    color: rgba(0, 0, 0, 0.1);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.stories .story-card p:nth-of-type(1){
    padding-bottom: 1.5rem;
}


.stories .controller{
   display: flex;
   justify-content: center;
   margin-top: 2rem;
}
.stories .controller .dot{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 10px;
    margin-right: 20px;
    transition: .5s;
}
.stories .controller .dot:hover{
    cursor: pointer;
}
.stories .controller .dot.active{
    width: 30px;
    background-color: lightskyblue;
}
/* -----------------------------------------------end stories------------------------------ */
/* -----------------------------------------------start footer------------------------------ */
footer{
    background-color: rgba(0, 0, 0, 0.89);
    color: #5F5D5D;
    padding-top: 4rem;
    line-height: 1.8;
}
footer .info{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    gap: 4rem;
}
@media(max-width: 768px){
    footer .info{
        display: block;
    }
}
@media(max-width:992px){
    footer .info{
        grid-template-columns: repeat(auto-fill, 1fr);
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
    }
}
.info .footer-col{
    margin-bottom: 3rem;
}
.info .footer-col h3{
    color: white;
    margin-bottom: 1rem;
}
.info  a{
    display: inline-block;
    color: #5F5D5D;
    margin-bottom: .5rem;
}
.info  a:hover{
    color: rgba(255, 255, 255, 0.7);
}

.info .contact-us input{
    padding: .8rem;
    margin-bottom: 1rem;
}
input[type=submit]{
    background-color: black;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.85);
}
.info .contact-us input::placeholder{
    color: rgba(255, 255, 255, 0.7);
}
footer .copyright{
    text-align: center;
    padding-bottom: 2rem;
}
/*--------------------------------------------------- end footer------------------------- */

